extends layout 

block content 
    h1= item.name 
    p= item.description 
    p Price(each): $&nbsp;#{item.price}
    p Stock: &nbsp;#{item.number_in_stock} units
    p Category: 
        a(href=item.category.url) #{item.category.name} 
    hr
    p 
        a(href=item.url + "/update") Update Item
    p 
        a(href=item.url + "/delete") Delete Item